Eric Prestat <eric.prestat@gmail.com> <eric.prestat@gmai.com>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> <frandelapena@gmail.com>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> francisco-dlp <frandelapena@gmail.com>
Jonas Lähnemann <jonas@pdi-berlin.de> <jonas@pdi-berlin.de>
Magnus Nord <magnunor@gmail.com> Magnus <magnunor@gmail.com>
Tomas Ostasevicius <t.ostasevicius@gmail.com> <to266@cam.ac.uk>
Vidar Tonaas Fauske <vidartf@gmail.com> vidartf <vidartf@gmail.com>
